.Board {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: top;
    -ms-align-items: top;
    align-items: top;
}

.Board > .TaskList {
    margin: 10px;
    width: 350px;
}

.Board > .TaskList .TaskList-Body {
    padding: 10px;
}

.Board > .TaskList .Task {
    padding: 10px;
}

.Board > .Stories {
    width: 350px;
    margin: 10px;
}