.List {
    height: 100%;
    background: #F5F8FA;
    border-radius: 3px;
}

.List-Head {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 20px;
    margin: 0;
    background: #EBF1F5;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}